.theme-switcher {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--switcher-bg);
    color: var(--switch-text);
    border: none;
    cursor: pointer;
    transition: var(--custom-transition-2);
}

.theme-switcher:hover {
    background-color: var(--switcher-bg-hover);
}